spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@//localhost:1521/XE
    username: system
    password: password
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    
---

message-system:
  exceptions:
    entity-not-found: "El empleado con el ID: %s no existe."
    api-integration-error: "Ha ocurrido un error intentando conectarse con un API externa. Consulte con el administrador."
    